h1 {
  font-size: 35px;
  color: white;
}

body {
  background: url("../img/weatherBackground1.jpg");
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

ul {
  list-style-type: none;
}

.city-search-engine {
  display: block;
  position: relative;
  margin: 30px 30px 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 0, 100;
}

.current-city-button {
  position: relative;
  top: -61px;
  left: 305px;
  margin: 0px 0px 0px 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: rgab(0,0,0,0);
}

.weather-info img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.main-weather-card {
  position: relative;
  border-radius: 25px;
  background-image: linear-gradient(
    rgb(204, 117, 168, 1),
    rgba(181, 255, 255, 0)
  );
  padding: 10px;
  margin: 30px;
}

.city-weather {
  position: relative;
  top: 5px;
  left: 150px;
  margin: 20px;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 0, 700;
}

.temperature {
  color: #ffffff;
  font-size: 70px;
  font-weight: 500px;
  line-height: 1;
}

.units {
  position: relative;
  top: -35px;
  left: 10px;
  font-size: 25px;
}

.weather-details {
  position: relative;
  top: -170px;
  left: 540px;
  color: white;
  margin: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 0, 600;
}


.forecast-day {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 100%;
}

.forecast-temp {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 110%;
}

.week-preview {
  color: white;
}
  
.open-source-link {
    color: white;
    position: relative;
    margin: 10px;
    top: -210px;
    left: 570px;
}

.city-weather .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.city-weather .active:hover {
  text-decoration: none;
}