body {
  background: url("../img/weatherBackground1.jpg");
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
}

ul {
  margin: 0px;
  padding: 0px;
  font-weight: 0, 600;
}

li{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  line-height: 1.6;
}


li:first-letter {
  text-transform: capitalize;
}


.city-search-engine {
  display: block;
  position: relative;
  margin: 30px 30px 0px;
  font-weight: 0, 100;
}

.city-search-engine button{
  margin: 5px;
}

.current-city-button {
  background-color: rgab(0,0,0,0);
}

.main-weather-card {
  position: relative;
  border-radius: 25px;
  background-image: linear-gradient(
    rgb(204, 117, 168, 1),
    rgba(181, 255, 255, 0)
  );
  padding: 10px;
  margin: 30px auto;
  max-width: 600px;
}

.overview {
position: relative;
top: -10px;
padding: 0px 20px;
}

.overview .city-name{
  font-size: 35px;
  padding: 12px 0px;
  margin: 0px 12px;
}

.city-weather {
  position: relative;
  top: 5px;
  font-weight: 0, 700;
}

.city-weather img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
}

.city-weather .temperature {
  font-size: 70px;
  font-weight: 500px;
  line-height: 1;
}

.city-weather .units {
  position: relative;
  top: -35px;
  left: 10px;
  font-size: 25px;
}

.city-weather .units a:link{
  text-decoration: none;
}

.week-forecast {
  margin: 10px;
  position: relative;
  bottom: -20px;
}

.week-forecast .forecast-day {
  text-align: center;
  font-weight: 600;
  font-size: 100%;
}

.week-forecast .forecast-temp {
  text-align: center;
  font-size: 110%;
}
  
.open-source-link {
  position: relative;
  bottom: -30px;
  margin: 10px;
}

.city-weather .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.city-weather .active:hover {
  text-decoration: none;
}